@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: "Montserrat", sans-serif;
  --y: #f2d921;
  --w: #ffffff;
  --b: #15b0e8;
  --bb: #2c2626;
}
html,
body {
  scroll-behavior: smooth;
  background-color: #dcd9d4;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(
      at 50% 0%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 50%
    );
  background-blend-mode: soft-light, screen;
}
a {
  text-decoration: none;
}

/* nav  */

nav {
  position: absolute;
  z-index: 9999;
  width: 99vw;
  display: flex;
  opacity: 0.85;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #111;
  color: #ffffff;
  font-family: var(--font);
  font-weight: 400;
}

nav .china {
  color: var(--y);
  transition: linear 0.3s;
}
nav .china:hover {
  color: var(--w);
}
nav span {
  color: var(--w);
  transition: linear 0.35s;
}
nav span:hover {
  color: var(--y);
  cursor: crosshair;
}

li {
  list-style: none;
  display: inline-block;
  padding: 10px 30px;
  font-weight: 600;
}
body {
  overflow-x: hidden;
}
li a {
  text-decoration: none;
  color: var(--w);
}
li a:hover {
  color: var(--y);
}
#d {
  border: 2px solid var(--y);
  padding: 10px 30px;
  transition: all 0.2s linear;
}
#d:hover,
#d a:hover {
  background-color: #f2d921;
  color: #111;
  font-weight: 700;
}
.op {
  color: var(--y);
}
.op:hover {
  color: var(--w);
}

/* side nav  */

#side {
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  top: 20rem;
  right: 0;
  background-color: var(--y);
  padding: 20px 5px;
}
#side a {
  padding: 10px 0px;
  transform: scale(1);
  transition: all 0.2s linear;
}
#side a:hover {
  transform: scale(1.3);
}

/* header  */

header {
  font-family: var(--font);
  font-weight: 700;
}
header img {
  position: relative;
  background-size: cover;
  object-fit: cover;
  opacity: 93%;
  height: 100vh;
  width: 99vw;
}
#hl1 {
  position: absolute;
  color: var(--w);
  top: 20rem;
  font-size: 1.8rem;
  word-spacing: 0.2rem;
  left: 5rem;
}

.main_span:hover {
  color: var(--bb);
  transition: color linear 88s;
  transition: linear 0.3s;
  cursor: crosshair;
  font-weight: 700;
}

.hh main_span {
  color: transparent;
  font-size: 4rem;
  transition: linear 0.35s;
}
.hh .span {
  color: transparent;
  font-size: 4rem;
  font-weight: bold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--y);
  transition: linear 0.35s;
}
.hh .span:hover {
  color: var(--y);
  font-size: 4rem;
  font-weight: bold;
  transition: linear 0.35s;
  cursor: crosshair;
}

#sh span {
  font-weight: 700;
  color: #111;
  font-size: 1.5rem;
  padding: 5px 40px;
  transition: linear 0.35s;
}
#sh {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  width: 34rem;
  font-size: 2rem;
  margin-top: 2.5rem;
  padding-left: 0.3rem;
  transition: linear 0.35s;
}

#sh span a {
  text-decoration: none;
  color: var(--bb);
}

/* section 1 */

#s1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: var(--w);
  height: 750px;
  padding-bottom: rem;
}

.s1m {
  width: 60rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 750px;
  padding: 30px;
  flex-direction: column;
  font-family: var(--font);
}
.s1mf {
  font-style: italic;
}

.s1m a {
  color: #111;
}
.s1ml {
  font-weight: 700;
  font-size: 1.3rem;
  padding: 10px 40px;
  border: 3px solid #111;
  transform: scale(1);
  transition: all 0.3s linear;
}
.s1ml:hover {
  transform: scale(1.08);
}

.s1mm {
  font-size: 1.2rem;
  font-weight: 500;
}
.s1f {
  width: 30rem;
  display: flex;
  padding: 30px;
  padding-bottom: 4rem;
  justify-content: space-evenly;
  align-items: center;
  height: 750px;
  flex-direction: column;
  color: var(--w);
  background-color: var(--bb);
  font-family: var(--font);
  font-weight: 600;
}
.s1f h1 {
  color: var(--y);
}
.s1f img {
  height: 8rem;
  width: 8rem;
}
.secside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

/* .about  */

.about {
  background-color: var(--y);
  padding: 25px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--font);
}
.para {
  height: 580px;
  background-color: var(--bb);
  font-family: var(--font);
  color: #fff;
}
.para h2 {
  padding: 30px;
  font-style: italic;
}
.para .midd {
  padding-left: 21rem;
}
.para p {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 30px 120px;
  color: #ccc;
}

/* gallery */

.gal {
  background-color: var(--b);
  padding: 25px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--font);
}
#main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 40px;
}
.main2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.sp {
  padding-bottom: 30px;
}

/* footer  */

#footer {
  background-color: var(--y);
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font);
}
.add {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
  height: 250px;
}
.add h4 {
  color: var(--bb);
  font-weight: 500;
}
.add span {
  color: #fff;
  font-weight: 400;
}
.add h1 {
  font-weight: 600;
}
#signup h4 {
  color: var(--bb);
  font-weight: 500;
}
#signup h1 {
  font-weight: 600;
}
#signup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  height: 250px;
}

input:focus::placeholder {
  color: transparent;
}

input[type="email"] {
  height: 2.2rem;
  width: 15rem;
  outline: none;
  border: none;
}

input[type="submit"] {
  background-color: var(--bb);
  height: 2.2rem;
  width: 5rem;
  outline: none;
  border: none;
  font-family: var(--font);
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
}
input[type="submit"]:hover {
  background-color: blueviolet;
  color: var(--w);
  font-weight: 700;
}

/* icons  */

i {
  color: #111;
  font-weight: 700;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 44rem;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 2px solid var(--bb);
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: grey;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}
.btn:hover span {
  color: white;
}
